.list-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.list-card {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 12rem;
    //outline: 1px solid black;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.list-card-text {
    margin-top: 5px;
    //margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $primary-color-1;
}

.list-card-text > * {
    padding-top: 0.5em;
}

.list-card-text > p {
    margin: 0;
    font-size: 12px;
    color: $primary-color-2;
    cursor: pointer;
}

.list-card-text > b {
    font-size: 14px;
    color: $primary-color-1;
    cursor: pointer;
}

.list-card-text > b:hover,p:hover {
    text-decoration: underline;
}

.list-card-placeholder {
    flex: 1;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 0;
    width: 10rem;
    opacity: 0;
}

.list-card-fill {
    position: relative;
    top: 0;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.list-card-image-wrapper {
    width: 100%;
    max-width: 12rem;
    //height: 100%;
    //overflow: auto;
    position: relative;
}
.list-card-image-wrapper > * {
    position: absolute;
    top: 0;
    left: 0;
}

.list-card-image {
    width: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.list-card-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background: rgba(0,0,0, 0.6);

    > * {
        margin-left: 5px;
        margin-right: 5px;
        height: 2.5rem !important;
        width: 2.5rem !important;

        > * > * {
            width: 1.5rem !important;
            height: 1.5rem !important;
            color: $primary-color-1 !important;
        }
    }

    > *:nth-child(2) {
        height: 8rem !important;
        width: 8rem !important;
        align-self: center;

        > * > * {
            width: 6rem !important;
            height: 6rem !important;
            color: $primary-color-1 !important;
        }
    }
}