// .header-container {
//     display: flex;
//     justify-content: space-between;
// }

html {
    background-color: $primary-background-color-1;
}

.view-title {
    font-size: larger;
    border-left: 3px solid $secondary-color-1;
    padding-left: 10px;
    color: $primary-color-1;
    margin-bottom: 20px;
}
