$primary-color-1: white;
$primary-color-2: #878B99;
$primary-color-3: #333333;

$secondary-color-1: #f06060;

$primary-background-color-1: #121212;
$primary-background-color-2: #25313E;

// $primary-color-1: white;
// $primary-color-2: #b3b3b3;
// $primary-color-3: #333333;

// $secondary-color-1: #c586c0;

// $primary-background-color-1: #121212;
// $primary-background-color-2: #181818;
